.container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
}
.container svg{
        height: 36px;
        fill: lightgray;
}
.container #html path{
        fill:lightgray
}
