.container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin: 50px;
        padding-top: 4vh;
}
.container svg{
        height: 36px;
        fill: lightgray;
}
.container #html path{
        fill:lightgray
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
        .container {
                margin: 10px 50px 20px 50px;
        }
}
@media screen and (min-width: 427px) and (max-width: 767px) {
        .container{
                margin: 10px 50px 20px 50px;
        }
}
@media screen and (min-width: 0px) and (max-width: 426px) {
        .container {
                margin: 10px 10px 20px 10px;
        }
}
