.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SVGContainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.StatImages{
    margin: auto;
    height: 13.25vw;
}
@media screen and (min-width:427px) and (max-width:768px){
    .SVGContainer {
        flex-direction: column;
    }
    .StatImages {
        width: 90%;
        height: auto;
    }
}
@media screen and (min-width:0) and (max-width:426px) {
    .SVGContainer {
        flex-direction: column;
    }

    .StatImages {
        width: 100%;
        height: auto;
    }
}