.contact svg{
    height: 96px;
    stroke: #fafafa;
    stroke-width: 2%;
    transition: all .3s ease-in-out;
}
.contact{
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 50px 20px 50px;
}
#details{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}
.contact a{
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
.contact p{
    color: #fafafa;
    transition: all .3s ease-in-out;
}
.detail:hover p,.detail:hover svg,.detail:hover #phone{
    stroke: white;
    color: white;
}

#phone:hover path,#phone:hover~p{
stroke: white;
color:white ;
}
@media screen and (max-width:1024px) {
    .contact {
            margin: 10px 50px 20px 50px;
        }
    .contact p{
        font-size: 18px;
    }
    .contact svg{
        height: 64px;
    }
}
@media screen and (max-width:768px) {
    .contact {
        margin: 10px 50px 20px 50px;
    }
    .contact svg {
        height: 48px;
    }
    .contact p {
        font-size: 15px;
    }
}
@media screen and (max-width:426px) {
    .contact{
        margin: 10px;
    }
    .contact svg {
            height: 54px;
    }
    .contact p {
        font-size: 11px;
    }
}